<div class="row h-100 signup ">

  
    <div class="col-6 mx-auto  " style="margin-top: 5%">
  <h4 class="text-center" style="margin-bottom: 5%">Please select payment method</h4>
  <!-- stepper  -->
 
  
  
  <!-- stepper end  -->
        <div class="card">
  
          <div class="card-body">
  
            <form [formGroup]="PaymentMethodForm">

                <div class="form-group">
                    <label for="amount"><h5 class="inline">Enter amount - minimum $500 </h5></label>
                    <input id="amount"  (input)="onAmountChange($event.target.value)" type="number"  formControlName="amount" class="form-control" >
                  </div>
                <br/>

              <div class="form-group">
                <label  class="block" for="s1">
                  <input type="radio" id="s1" value="bitcoin" name="paymentmethod"  formControlName="paymentmethod"> <h5 class="inline">Pay with Bitcoin </h5>
                </label>
  
  
                <label  class="block" for="s2">
                    <input type="radio" id="s2" value="wallet" name="paymentmethod" formControlName="paymentmethod" > <h5 class="inline">Pay with your Wallet</h5>
                  </label>
    
  
  
              </div>
  
  
            </form>
  
  <div class="text-center">
            <button  [attr.disabled] = "proceed === false ? 'disabled' : null" class="btn btn-primary" data-toggle="modal" data-target="#paymentconfirmation">Proceed to Payment</button>
          </div>
          </div>
          
        </div>
    </div>
  </div>
<!-- payment confirmation  modal -->
  <div id="paymentconfirmation" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Please confirm payment.</p>
        </div>
        <div class="modal-footer">
          <button type="button"  (click)="gotopayment(PaymentMethodForm.value)" data-dismiss="modal" class="btn btn-primary">Ok</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  