<div class="row h-100 signup ">

  
  <div class="col-6 mx-auto  " style="margin-top: 5%">

<!-- stepper  -->



<!-- stepper end  -->
      <div class="card">

        <div class="card-body">

            <h4 class="text-center" style="margin-bottom: 5%">Wallet Balance : &nbsp;{{WalletBal}} </h4>

            <h4 class="text-center" style="margin-bottom: 5%">Wallet Payment : &nbsp; {{Amount}}</h4>

<div class="text-center">
          <button (click)="createinvestment()" [attr.disabled] = "proceed === false ? 'disabled' : null" class="btn btn-primary"> Pay Now</button>
        </div>
        </div>
        
      </div>
  </div>
</div>