<div class="row h-100">


  <div class="col-4 mx-auto my-auto">


      <div class="card text-center">
          <div class="card-header">
            <h4>Enter otp</h4>
          </div>
          <div class="card-body">
           
              <form   [formGroup]="WalletTransferOtp">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Enter otp</label>
                    <input type="number" formControlName="otp" class="form-control" >
                    <small id="emailHelp" class="form-text text-muted">Enter otp sent to your email.</small>
                  </div>
                 
                
                </form>


            <button class="btn btn-primary" [attr.disabled] = "proceed === false ? 'disabled' : null" (click)="verifyOtp(WalletTransferOtp.value)">Transfer</button>
          </div>
        
        </div>


  </div>
</div>


<div class="modal fade" id="wallettransfersuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Wallet transfer successful.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="gotohomepage()" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal fade" id="wallettransfererror" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Incorrect otp.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>