<div class="row">


  <div class="col-4" style="margin-top: 5%">
    <h4 class="text-center">Investment Details</h4>
<br/>
      <div class="card" style="padding:20px">

        <h4>Investment Scheme :   {{InvestmentDetails.investment_scheme}}
          </h4>
          <hr>
          <h4>Amount :   {{InvestmentDetails.investment_amount}}
            </h4>
            <hr>
            <h4>Payment Method :   {{InvestmentDetails.payment_method}}
              </h4>
      </div>

    </div>


      <div class="col-7" style="margin-top: 5%">
        <h4 class="text-center">Bitcoin Payment - Pay  <span class="badge badge-danger">{{btcpayment}} BTC</span>
        </h4>
        <br/>

<div class="card">
        <div class="row">

<div class="col-5">
  <div class="mx-auto">
      <div  id="qrcode" class="mx-auto"></div>
    </div>
</div>
    <div class="col-7 text-center">

      <br/>
      <h6>Kindly make the payment to the following address.</h6>
      <h6>122YXXvEHjUTs67fXc3fFACx9PUkreXQfH</h6>
      <br/>
<h6></h6>
<div id="loadingicon"  [hidden]="paymentstate" class="loader mx-auto"></div>
<div id="paymenttext"  [hidden]="paymentstate"> <h4 style="color:#ff0e00">Waiting for payment!</h4> </div>
<div [hidden]="!paymentstate"> <h4 style="color:#06b10f">Payment Successful - awaiting Confirmation!</h4> </div>

<div [hidden]="!paymentstate"> <h4 style="color:#06b10f"><span class="badge badge-success">{{paymentreceived}} BTC</span></h4> </div>

    </div>
</div>
</div>
          
      </div>


  </div>
