<div class="row h-100 signup ">

  
    <div class="col-6 mx-auto  " style="margin-top: 5%">
  <h2 class="text-center" style="margin-bottom: 5%">Withdrawal</h2>
  
  <!-- stepper  -->
  
  
  
  <!-- stepper end  -->
        <div class="card">
  
          <div class="card-body">
  
              <form [formGroup]="WithdrawalForm">
                  <div class="form-group">
                      <label for="exampleInputEmail1">
                          Amount </label>
                      <input type="number"  formControlName="amount" class="form-control"  >
                      <small id="emailHelp" class="form-text text-muted">Enter amount to transfer. </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select  formControlName="accounttype" class="form-control" id="exampleFormControlSelect2">
                          <option value="bank">Bank</option>
                          <option value="paypal">Paypal</option>
                          <option value="moneypolo">Moneypolo</option>
                          
                        </select>
                      </div>
                  <div class="form-group">
                    <label >Account Details</label>
                    <textarea  formControlName="accountdetails" class="form-control" row="3"></textarea>
                  </div>
                
                </form>
  
  <div class="text-center">
      <button (click)="sendrequest(WithdrawalForm.value)" class="btn btn-primary">Send request</button>

  </div>
  
          </div>
          
        </div>
    </div>
  </div>
