<div class="row h-100 signup ">

  
    <div class="col-6 mx-auto  " style="margin-top: 5%">
  <h2 class="text-center" style="margin-bottom: 5%">Withdrawal</h2>
  
  <!-- stepper  -->
  
  
  
  <!-- stepper end  -->
        <div class="card">
  
          <div class="card-body">
  
              <form [formGroup]="WithdrawalForm">
                  <div class="form-group">
                      <label for="exampleInputEmail1">
                          Amount </label>
                      <input type="number"  formControlName="amount" class="form-control"  >
                      <small id="emailHelp" class="form-text text-muted">Enter amount to transfer. </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Select withdrawal method.</label>
                        <select (change) ="onwithdrawmethodselect($event.target.value)" formControlName="accounttype" class="form-control" id="exampleFormControlSelect2">
                          <option value="bank">Bank</option>
                          <option value="paypal">Paypal</option>
                          <option value="moneypolo">Moneypolo</option>
                          <option value="bitcoin">Bitcoin</option>

                        </select>
                      </div>
                 
                  <!-- bank -->
                  <div  *ngIf="withdrawalmethod === 'bank'" class="form-group">
                      <label for="exampleInputEmail1">
                          Bank name </label>
                      <input type="text"   class="form-control"  >
                      <small id="emailHelp" class="form-text text-muted"> </small>
                    </div>
                  

                  <div *ngIf="withdrawalmethod === 'bank'" class="form-group">
                      <label for="exampleInputEmail1">
                         Ifsc</label>
                      <input type="text"   class="form-control"  >
                      <small id="emailHelp" class="form-text text-muted"> </small>
                    </div>
                  
                    
                  <div *ngIf="withdrawalmethod === 'bank'" class="form-group">
                      <label for="exampleInputEmail1">
                          Account number </label>
                      <input type="text"   class="form-control"  >
                      <small id="emailHelp" class="form-text text-muted"> </small>
                    </div>
<!-- bank end -->

<!-- moneypolo  -->
<div *ngIf="withdrawalmethod === 'moneypolo'" class="form-group">
    <label for="exampleInputEmail1">
        Moneypolo Email or Account Number </label>
    <input type="text"   class="form-control"  >
    <small id="emailHelp" class="form-text text-muted"> </small>
  </div>

<!-- money polo ends -->
<!-- paypal -->
<div *ngIf="withdrawalmethod === 'paypal'" class="form-group">
    <label for="exampleInputEmail1">
        Paypal Email  </label>
    <input type="text"   class="form-control"  >
    <small id="emailHelp" class="form-text text-muted">Enter Paypal Email. </small>
  </div>
<!-- paypal ends -->


<!-- bitcoin -->
<div *ngIf="withdrawalmethod === 'bitcoin'" class="form-group">
    <label for="exampleInputEmail1">
        Bitcoin Wallet Address  </label>
    <input type="text"   class="form-control"  >
    <small id="emailHelp" class="form-text text-muted"> Enter bitcoin wallet address. </small>
  </div>
<!-- bitcoin ends -->








                
                </form>
  
  <div class="text-center">
      <button (click)="sendrequest(WithdrawalForm.value)" class="btn btn-primary">Send request</button>

  </div>
  
          </div>
          
        </div>
    </div>
  </div>
