

  <div class="row">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="col"> 
      <br>
      <h4 class="main-header">Account Summary</h4> <hr></div>
      </div>
<div class="row">
  

 
<div class="col"><div class="card currency-card  card-1">   <h6 class="text-center dtxt">Wallet balance</h6> <h5 class="text-center green">${{summary.walletbalance}}</h5>
</div></div>
<div class="col"><div class="card currency-card card-1">   <h6 class="text-center dtxt">Pending Wallet balance</h6> <h5 class="text-center yellow">  ${{summary.walletpendingbalance}}</h5>
</div></div>
<div class="col"><div class="card currency-card card-1">   <h6 class="text-center">Referral comission</h6> <h5 class="text-center yellow ">${{summary.totalspotearnings}}</h5>
</div></div>
<div class="col"><div class="card currency-card  card-1">  <h6 class="text-center">Monthly Ref. Earnings</h6>  <h5 class="text-center yellow">${{summary.totalreferralearnings}}</h5>
</div></div>
<div class="col"><div class="card currency-card card-1">   <h6 class="text-center">Total Holdings</h6> <h5 class="text-center green">${{summary.totalinvestment}}</h5>
</div></div>

</div>


<div class="row" style="height:40px"></div>


<div class="row row-eq-height" >
  <div class="col-5 ">
    
    <table style="font-size:80%" class="table  table-bordered table-hover table-striped text-nowrap ">
      <thead>
          <tr>
            <th>Date</th>
            <th>Maturity Date</th>
            <th >Gold Wallet Investment</th>
            <th>Maturity Value </th>
           

          </tr>
        </thead>
<tbody>
<tr  *ngFor="let i of Investments">
  <td>{{converttimestamp(i.timestamp)}}</td>
  <td>{{calculateenddate(i.timestamp,i.duration)}} </td>
  <td class="tdgreen">${{i.amount}}</td>
  <td class="tdgreen">${{i.amount+(i.amount*(i.interest_rate/100))}}</td>
</tr>
</tbody>

</table>


  
   
</div>
  <div class="col-7">
   <div class="">






      <div class="">
          <table  style="font-size:80%" class="table table-bordered text-nowrap">
              <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{summary.name}}</td>
                  </tr>

                  <tr>
                      <th scope="row">Account Id</th>
                      <td>{{summary.uid}}</td>
                      

                    </tr>
<tr>
  <th scope="row">Approval</th>
                      <td>{{summary.approvalstatus}}</td>
</tr>
                    <tr>
                        <th scope="row">Joining  Date</th>
                        <td>{{cc(summary.joiningdate)}}</td>
                      </tr>

                      <tr>
                          <th scope="row">Referral Link</th>
                          <td><a href="{{summary.referal_link}}">{{summary.referal_link}}</a></td>
                        </tr>
                        <tr>
                          <th scope="row">IP Address</th>
                          <td>{{ip.ip}}      &nbsp;&nbsp; {{currentdatetime}}</td>
                        </tr>
              </tbody>
          </table>
        </div>










   </div>   
  
  </div>
</div>

  