

  <div class="row">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="col"><h2 class="main-header">Account Summary</h2> <hr/></div>
      </div>
<div class="row">
  

 
<div class="col"><div class="card currency-card  card-1">   <h6 class="text-center dtxt">Wallet balance</h6> <h5 class="text-center green">${{summary.walletbalance}}</h5>
</div></div>
<div class="col"><div class="card currency-card card-1">   <h6 class="text-center dtxt">Pending Wallet balance</h6> <h5 class="text-center yellow">  ${{summary.walletpendingbalance}}</h5>
</div></div>
<div class="col"><div class="card currency-card card-1">   <h6 class="text-center">Referral comission</h6> <h5 class="text-center yellow ">${{summary.totalspotearnings}}</h5>
</div></div>
<div class="col"><div class="card currency-card  card-1">  <h6 class="text-center">Monthly Ref. Earnings</h6>  <h5 class="text-center yellow">${{summary.totalreferralearnings}}</h5>
</div></div>
<div class="col"><div class="card currency-card card-1">   <h6 class="text-center">Total Holdings</h6> <h5 class="text-center green">${{summary.totalinvestment}}</h5>
</div></div>

</div>


<div class="row" style="height:40px"></div>


<div class="row row-eq-height" >
  <div class="col-6 ">
    <div class="btcwdgt-chart">


         </div>
         <script>
          var baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v1/coin/multi?fsyms=BTC,ETH,XMR,LTC,DASH&tsyms=USD,EUR,CNY,GBP';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
          (function(b,i,t,C,O,I,N) {
              window.addEventListener('load',function() {
                if(b.getElementById(C))return;
                I=b.createElement(i),N=b.getElementsByTagName(i)[0];
                I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
              },false)
            })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
      
          </script>
  
   
</div>
  <div class="col-6">
   <div class="" style="padding:15px">






      <div class="table-responsive">
          <table class="table table-bordered">
              <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{summary.name}}</td>
                  </tr>

                  <tr>
                      <th scope="row">Account Id</th>
                      <td>{{summary.uid}}</td>
                      

                    </tr>
<tr>
  <th scope="row">Approval</th>
                      <td>{{summary.approvalstatus}}</td>
</tr>
                    <tr>
                        <th scope="row">Joining  Date</th>
                        <td>{{cc(summary.joiningdate)}}</td>
                      </tr>

                      <tr>
                          <th scope="row">Referral Link</th>
                          <td><a href="{{summary.referal_link}}">{{summary.referal_link}}</a></td>
                        </tr>
                        <tr>
                          <th scope="row">IP Address</th>
                          <td>{{ip.ip}}</td>
                        </tr>
              </tbody>
          </table>
        </div>










   </div>   
  
  </div>
</div>

  