<div class="row">
<div class="col">

 <h2 class="main-header inline">My Investments</h2>   &nbsp;  &nbsp;  &nbsp;  &nbsp;             <a  style=""  class ="btn btn-danger " routerLink="/dashboard/investmentschemes"  > New Investment </a>


 <hr>
    <div class=" c card-1"  *ngFor="let i of Investments ">
        <div class="row">
          <div class="col"><h5 class="inline">Scheme : {{i.scheme}}</h5> &nbsp; &nbsp;&nbsp;&nbsp;  <h5 class="inline text-center" >Status : {{i.status}}</h5></div>
          
        </div>
        <div class="row">
            
            <div class="col"><div class="card currency-card">   <h6 class="text-center">Invested Amount</h6> <h5 class="text-center">${{i.amount}}</h5>
          </div></div>
          <div class="col"><div class="card currency-card">   <h6 class="text-center">Maturity Value</h6> <h5 class="text-center">${{i.amount+(i.amount*(i.interest_rate/100))}}</h5>
          </div></div>
          <div class="col"><div class="card currency-card">   <h6 class="text-center">Duration</h6> <h5 class="text-center">{{i.duration}} Days</h5>
          </div></div>
          <div class="col"><div class="card currency-card">   <h6 class="text-center">Trading Growth</h6> <h5 class="text-center">{{i.interest_rate}}%</h5>
          </div></div>
        
        
        </div>
        <br/>
      <div class="row justify-content-center align-self-center">
        <div class="col-3 text-center align-middle"><span class="badge badge-primary ">Investment Date {{converttimestamp(i.timestamp)}}</span> &nbsp;
          
          </div>
        <div class="col-6 justify-content-center align-self-center">
          </div>
            <div class="col-3 text-center align-self-center">
                <span class="badge .align-middle badge-primary text-center">Maturity Date {{calculateenddate(i.timestamp,i.duration)}}</span>
            </div>
          </div>
      </div>
      

</div>



</div>