<div class="row h-100 signup ">


  <div class="col-6 mx-auto  " style="margin-top: 5%">
<h2 class="text-center" style="margin-bottom: 5%">Please select an Investment Scheme</h2>

<!-- stepper  -->



<!-- stepper end  -->
      <div class="card">

        <div class="card-body">

          <form [formGroup]="InvestmentSchemesForm">
            <div class="form-group">
              <label  class="block" for="s1">
                <input type="radio" id="s1" name="investmentscheme" value="SC01" formControlName="investmentscheme" > <h5 class="inline">Gold Scheme Minimum 500 USD - 90 DAYS -  8 PERCENT</h5>
              </label>


  


            </div>


          </form>


          <button (click)="setInvestmentScheme(InvestmentSchemesForm.value)" class="btn btn-primary">Proceed to Payment</button>

        </div>
        
      </div>
  </div>
</div>