<div class="row h-100">

  
    <div class="col-6 mx-auto  " style="margin-top: 5%">
  <h4 class="text-center" style="margin-bottom: 5%">Wallet Transfer  - Wallet Balance: ${{walletbalance}}</h4>
  
  <!-- stepper  -->
  
  
  
  <!-- stepper end  -->
        <div class="card">
  
          <div class="card-body">
  
              <form [formGroup]="WalletTransferForm">
                  <div class="form-group">
                      <label for="exampleInputEmail1">
                          Amount </label>
                          <input class="form-control" type="number" formControlName="amount" (input)="onAmountChange($event.target.value)">

                      <!-- <input type="number"  formControlName="amount" class="form-control"  > -->
                      <small id="emailHelp" class="form-text text-muted">Enter amount to transfer.  </small>
                    </div>
                  <div class="form-group">
                    <label >Account Id</label>
                    <input type="text"  formControlName="toaccount" class="form-control" (input)="onSearchChange($event.target.value)" >
                    <small id="emailHelp" class="form-text text-muted"> <b>{{Accountname}}</b>  </small>
                  </div>
             
                
                </form>
                <!-- (click)="transfer(WalletTransferForm.value)" -->
  <div class="text-center">
      <button data-target="#confirm" [attr.disabled] = "proceed === false ? 'disabled' : null" data-toggle="modal"  class="btn btn-primary">Transfer now</button>

  </div>
  
          </div>
          
        </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="confirm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Confirm Wallel transfer</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" >No</button>
            <button type="button" class="btn btn-secondary" (click)="confirmwallettransfer(WalletTransferForm.value)" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>

    