<div class="row h-100 signup ">

  
    <div class="col-6 mx-auto  " style="margin-top: 5%">
  <h2 class="text-center" style="margin-bottom: 5%">Wallet Transfer</h2>
  
  <!-- stepper  -->
  
  
  
  <!-- stepper end  -->
        <div class="card">
  
          <div class="card-body">
  
              <form [formGroup]="WalletTransferForm">
                  <div class="form-group">
                      <label for="exampleInputEmail1">
                          Amount </label>
                      <input type="number"  formControlName="amount" class="form-control"  >
                      <small id="emailHelp" class="form-text text-muted">Enter amount to transfer. </small>
                    </div>
                  <div class="form-group">
                    <label >Account Id</label>
                    <input type="email"  formControlName="toaccount" class="form-control"  >
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label >Otp</label>
                    <input type="password"  class="form-control">
                  </div>
                
                </form>
  
  <div class="text-center">
      <button (click)="transfer(WalletTransferForm.value)" class="btn btn-primary">Transfer now</button>

  </div>
  
          </div>
          
        </div>
    </div>
  </div>