
<div class="row h-100 signup">


  <div class="col-4 mx-auto my-auto" style="width: 200px;">
    <div>
    
      
        <div class="card text-center">
            <div class="card-header">
              <h4>OPEN A NEW ACCOUNT</h4>
            </div>
            <div class="card-body">
             
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                  
                  </form>


              <a href="#" class="btn btn-primary">LOGIN</a>
              <a href="#" class="btn btn-primary">HOME</a>

            </div>
            <div class="card-footer text-muted">
              <a href="">Sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="">Forgot Password?</a>
            </div>
          </div>
  </div>
  </div>
</div>


