body,html{
 background: #22252a;
  font-family: 'Abel', sans-serif;
    margin-bottom: 40px;
    font-weight: 100;
    height: 100%;


}
.dtxt{
  text-decoration-style: dotted;
}
.block {
  display: block;
}
.inline{
  display: inline-block;
}
.side-nav{
  background-color: #2d3035;
    padding-right: 0px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
.nl-col{
  height: 100%;
}
.nl>a{
  
  padding-left: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #eceeee;

}
.nl>a:hover {
  background-image: linear-gradient(-180deg, #019214 0%, #44d600 100%);

}
.nla{
  background-image: linear-gradient(-180deg, #026d10 0%, #44d600 100%);

}
.trans{
 
    overflow-x: scroll;

}
.inv-card-gap {
  height: 20px;
}
.currency-card{
    padding-top: 10px;
}
.main-card{
    margin-bottom: 50px;
}
/*****************/
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
  }
  .main-header{
      margin-top: 10px;
  }
  body {
    /* Margin bottom by footer height */
    height: 100%;
    margin-bottom: 40px;
    
  }
  .footer {
 /* border-top : 1px solid rgba(153, 177, 255, 0.72) !important; */
 position: absolute;   
 /* bottom: 0;  */
    width: 100%;
    background-color: #2a4bae;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .gb{
    background-color: #ecf0f1 !important;
  }
  code {
    font-size: 80%;
  }
  

/*******************/
.red{
color: #F93106;
}
.green{
color:  #1ADA00;
}
.yellow{
  color: #F8F000;
}
.card{
    
 
}

.c {
 
}
.card-1 {
 
}

/* .card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
/********************/


/*********************/