body,html{
    background-color:#eceeee !important;
    font-family: 'Abel', sans-serif;
    margin-bottom: 40px;
    font-weight: 100;
    height: 100%;


}
.side-nav{
  background: #18347B;
    background-image: linear-gradient(-180deg, #18347b 0%, #2a4bae 100%);
    
    padding-right: 0px;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
.nl-col{
  height: 100%;
}
.nl>a{
  
  padding-left: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #eceeee;

}
.trans{
 
    overflow-x: scroll;

}
.inv-card-gap {
  height: 20px;
}
.currency-card{
    padding-top: 10px;
}
.main-card{
    margin-bottom: 50px;
}
/*****************/
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  .main-header{
      margin-top: 10px;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
    
  }
  .footer {
 /* border-top : 1px solid rgba(153, 177, 255, 0.72) !important; */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .gb{
    background-color: #ecf0f1 !important;
  }
  code {
    font-size: 80%;
  }
  

/*******************/
.card{
    border : 1px solid rgba(230, 251, 237, 0.72) !important;
    border-radius :0px !important;
}

.c {
  padding: 15px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  /* height: 175px; */
  margin: 1rem;
  position: relative;
}
.card-1 {
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* .card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
/********************/


.navbar {
  background-color: #18347b !important;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #acff9e;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #acff9e;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #acff9e; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #acff9e;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #18347b;
  border-color: #18347b;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #acff9e;
  background-color: #18347b;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #18347b;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #acff9e;
  background-color: #18347b;
}
.navbar .navbar-toggle {
  border-color: #18347b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #18347b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #acff9e;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #acff9e;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #acff9e;
    background-color: #18347b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #acff9e;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #acff9e;
    background-color: #18347b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #acff9e;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #acff9e;
    background-color: #18347b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #acff9e;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #acff9e;
    background-color: #18347b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #acff9e;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #acff9e;
  background-color: #18347b;
}

/*********************/