<div class="row">
    
       
<div class="col-12">

    <div class="row">

            <div class="col">
              <br>
              <h4 class="main-header">Transactions</h4> <hr> </div>
        </div>
        <div class="row">

          <div class="col">
              <form   [formGroup]="usersearchForm" >
                  <div class="form-row">
                  
                    
                     
                        <div class="col"><input type="date" class="form-control" formControlName="from"></div>
                        <div class="col"> <input type="date" class="form-control" formControlName="to"></div>
                        <div class="col">
                            <select class="form-control"  formControlName="ttype" id="exampleFormControlSelect1">
                              <option value="CWT">Credit wallet transfer</option>
                              <option value="DWT">Debit Wallet transfer</option>
                              <option value="WD">Withdrawal</option>
                              <option value="CSC">Spot comission</option>
                              <option value="CMR">Monthly ref. returns</option>
                              <option value="DI">Investment</option>
                              <option value="IR">Investment return</option>
                            </select>
                          </div>
                      
                        <div class="col">
  
                          <button type="button"  class="form-control" (click)="search(usersearchForm.value)" class="btn btn-primary"> search</button>
                          </div>
                  </div>
                </form>
                <br>
          </div>
        </div>


<div class="row" >

  <div class="col" >
      <table style="font-size:80%" class="table  table-bordered table-hover table-striped text-nowrap ">
          <thead>
            <tr >
              <th >Date</th>
              <th > Narration</th>
              

              <th>Debit</th>
              <th >Credit</th>
              <th >Status</th>

              
            </tr>
          </thead>
          <tbody>
 <tr *ngFor="let t of Transactions ">        
<td>{{converttimestamp(t.timestamp)
}}</td>
  <td>{{t.narration}}</td>     
     <td class="tdred"> <span  *ngIf="t.debit > 0">${{t.debit}}</span> </td>    
     <td class="tdgreen"><span   *ngIf="t.credit > 0">${{t.credit}}</span></td>
     <td><span class="badge badge-success">{{t.status}}</span></td>
    </tr>  

    </tbody>
        </table>
      
  </div>
</div>




</div>
</div>