<div class="row h-100">
<div class="col-12 card">

    <div class="row">
            <div class="col"><h1 class="main-header">My Referrals</h1> </div>
        </div>

<div class="row">
<div class="col">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Joining Date</th>
        <th>Total Investment</th>
        <th>Total Commission </th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gopal</td>
        <td>01-01-2018</td>
        <td>gopal@gmail.com</td>
        <td>$1000</td>
        <td>$90</td>
      </tr>
      <tr>
          <td>Gopal</td>
          <td>01-01-2018</td>
          <td>gopal@gmail.com</td>
          <td>$1000</td>
          <td>$90</td>
        </tr>
        <tr>
            <td>Gopal</td>
            <td>01-01-2018</td>
            <td>gopal@gmail.com</td>
            <td>$1000</td>
            <td>$90</td>
          </tr>
          <tr>
              <td>Gopal</td>
              <td>01-01-2018</td>
              <td>gopal@gmail.com</td>
              <td>$1000</td>
              <td>$90</td>
            </tr>
            <tr>
                <td>Gopal</td>
                <td>01-01-2018</td>
                <td>gopal@gmail.com</td>
                <td>$1000</td>
                <td>$90</td>
              </tr>
      
    </tbody>
  </table>

</div>
</div>



</div>
</div>