<div class="row h-100">
<div class="col-12">

    <div class="row">
            <div class="col">
              <br>
              <h4 class="main-header">My Referrals</h4> <hr> </div>
        </div>

        <br>
        <div class="row">
        
            <div class="col">
                <form   [formGroup]="usersearchForm" >
                    <div class="form-row">
                
                          <div class="col"><input type="date" class="form-control" formControlName="from"></div>
                          <div class="col"> <input type="date" class="form-control" formControlName="to"></div>
                          <div class="col">
        
                            <button type="button"  class="form-control" (click)="search(usersearchForm.value)" class="btn btn-primary"> search</button>
                            </div>
                    </div>
                  </form>
            </div>
          </div>
        <br>



<div class="row">
<div class="col">
<table style="font-size:80%" class="table  table-bordered table-hover table-striped text-nowrap ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Joining Date</th>
        <th>Account Id</th>
        <th>Total Purchase</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let r of Referrals">
        <td>{{r.name}}</td>
        <td>{{converttimestamp(r.joiningdate)}}</td>
        <td>{{r.uid}}</td>
        <td class="tdgreen">${{r.totalinvestment}}</td>
      </tr>
     
       
         
         
      
    </tbody>
  </table>

</div>
</div>



</div>
</div>