.wrapper{
    background-color:white !important;
}

.btn-outline {
    color: #fff;
    border: 1px solid;
    border-color: #fff;
}
.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}
.btn {
    border-radius: 300px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.masthead{


 background:  url(../../assets/bg-pattern.png),  linear-gradient(-180deg, #18347b 0%, #2a4bae 100%);

}

header.masthead {
  color: #FFFFFF;
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #acff9e;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #acff9e;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #acff9e; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }