.wrapper{
    background-color:white !important;
}
.book{
  height: 350px;
}
.mc{
  /* background-color: #0d58f942; */
}
nav.navbar{
  background-color: #0e0e0a82 !important;
}
.btn-outline {
    color: #fff;
    border: 1px solid;
    border-color: #fff;
}
.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}
.btn {
    border-radius: 300px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.home-header{
  background-color: #252424a8;
}
.masthead{


 background:  url(../../assets/img1.jpg),  linear-gradient(-180deg, #18347b 0%, #2a4bae 100%);
 background-size:cover;
}

header.masthead {
  color: #FFD700;
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .navbar-brand {
    color: #FFD700;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #acff9e;
  }
  .navbar .navbar-text {
    color: #FFD700;
  }
  .navbar .navbar-text a {
    color: #acff9e;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #acff9e; 
  }
  .navbar .navbar-nav .nav-link {
    color: #FFD700;
    border-radius: .25rem;
    margin: 0 0.25em;
  }