<div class="row h-100 signup ">


  <div class="col-6 mx-auto  " style="margin-top: 5%">
<h4 class="text-center" style="margin-bottom: 5%">   CATCO GOLD WALLET INVESTMENT PLAN
</h4>

<!-- stepper  -->



<!-- stepper end  -->
      <div >

        <div >

          <table style="font-size:80%" class="table  table-bordered table-hover table-striped text-nowrap ">
 
            <tbody>
            <tr>
                <th>Investment Amount</th>
                <td>Minimum 500 USD</td>
                
            </tr>


            <tr>
              <th>Duration</th>
              <td>90 Days</td>
              
          </tr>
          <tr>
            <th>Profit</th>
            <td>Total 24% -- (8% each month for three months ) <br>
               Profit 24% -- 8*3=24% 
 
              Your capital - $500 Profit - $120 Total maturity value - $620 <br> 
            Investor will get their profit after 90 days </td>
             
        </tr>
        <tr>
          <th>Referral Commission</th>
          <td>one time 5%  </td>


          
      </tr>
      <tr>
        <th>Referral Monthly Bonus</th>
        <td>3% - 3 Months 
        </td>

        
    </tr>
    <tr>
      <th>Payout</th>
      <td>No admin charges for all payout </td>


      
  </tr>
      </tbody>
            
            </table>
            


        </div>
        
      </div>
  </div>
</div>